*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: #030712;
}

.wrapper {
  margin-top: 2rem;
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  height: 125px;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -250px;
  }
}

.itemLeft,
.itemRight {
  width: 250px;
  height: 125px;
  border-radius: 6px;
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  background-size: 250px 125px;
  background-position: no-repeat;
}

.item1 {
  background-image: url("Image 1.png");
}
.item2 {
  background-image: url("Image 2.png");
}
.item3 {
  background-image: url("Image 3.png");
}
.item4 {
  background-image: url("Image 4.png");
}
.item5 {
  background-image: url("Image 5.png");
}
.item6 {
  background-image: url("Image 6.png");
}
.item7 {
  background-image: url("Image 7.png");
}
.item8 {
  background-image: url("Image 7.png");
}

.itemLeft {
  left: max(calc(250px * 8), 100%);
  animation-name: scrollLeft;
}

.item1 {
  animation-delay: calc(60s / 8 * (8 - 1) * -1);
}

.item2 {
  animation-delay: calc(60s / 8 * (8 - 2) * -1);
}

.item3 {
  animation-delay: calc(60s / 8 * (8 - 3) * -1);
}

.item4 {
  animation-delay: calc(60s / 8 * (8 - 4) * -1);
}

.item5 {
  animation-delay: calc(60s / 8 * (8 - 5) * -1);
}

.item6 {
  animation-delay: calc(60s / 8 * (8 - 6) * -1);
}

.item7 {
  animation-delay: calc(60s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(60s / 8 * (8 - 8) * -1);
}

.wrapper:nth-of-type(3) .itemLeft {
  left: max(calc(250px * 8), 100%);
}
